.range-input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: #ccc;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: var(--accent);
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

.range-input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: var(--accent);
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out;
}

.range-input::-webkit-slider-thumb:hover {
  border: 2px solid var(--dark-accent);
}
.range-input:active::-webkit-slider-thumb {
  border: 2px solid var(--dark-accent);
}
.range-input:focus::-webkit-slider-thumb {
  border: 2px solid var(--dark-accent);
}

.range-input::-moz-range-thumb:hover {
  border: 2px solid var(--dark-accent);
}
.range-input:active::-moz-range-thumb {
  border: 2px solid var(--dark-accent);
}
.range-input:focus::-moz-range-thumb {
  border: 2px solid var(--dark-accent);
}

.range__title {
  display: flex;
  justify-content: space-between;

  color: white;

  font-weight: 600;
  font-size: 1.125rem;
}

.range__title_heading {
  font-weight: 400;
}

.range__title_value {
  display: flex;
  gap: 2px;
}
