:root {
  --accent: #3e9cdc;
  --dark-accent: #286690;
  --dark-grey: 16, 16, 29;
  --hover-link: #43abf0;
  --dark-bg: #272733;
  --text-grey: #bbbbbb;
  --text-light-grey: #c3c3c3;
  --footer-grey: #3d4050;
}

* > {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  font-family: "Lato";
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
}

.text_accent {
  color: var(--accent);
}

.container {
  width: 100%;
}

.button {
  border: 1px solid;
  border-radius: 4px;

  padding: 11px 10px 11px 10px;

  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;

  width: 180px;

  transition: all 0.3s;
}

.button_contained_big {
  border-color: white;
  background-color: var(--accent);
  color: white;

  padding: 15px 10px;
  width: 100%;
}

.button_contained {
  border-color: white;
  background-color: var(--accent);
  color: white;
}

.button_outline {
  border-color: var(--dark-bg);
  background-color: white;
  color: var(--dark-bg);
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
